@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Tarea  II</h1>
    <p class="lead">
        Aprender sobre trasladar datos entre las páginas de una aplicación para conservar los estados, utilizando MVC, HTML, CSS, Ajax, JavaScript y Gestión de estado: dar énfasis a este capítulo .
    </p>
    <p><a href="https://aprende.uned.ac.cr/pluginfile.php/2057052/mod_assign/intro/3101-Tarea2-2C-2023.pdf" class="btn btn-primary btn-lg" target="_blank">Instrucciones &raquo;</a></p>
</div>

